<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/d95544a3bc.js" crossorigin="anonymous"></script>
  <title>Event Management</title>
</head>
<body>
  <header class="container flex space-between">
      <a class="brand-name" href="">Event <span>Management</span></a>
      <ul class="flex navbar">
          <li><a href=""><i class="far fa-envelope"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
  </header>
  <main>
    <section class="form-sec form-container">
        <h2>Add a event</h2>
        <form action="/event" method="POST">
    <!-- title  -->
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" placeholder="Title" name="title">
            </div>
          </div>
    <!-- summary  -->
          <div class="field">
            <label class="label">Summary</label>
            <div class="control">
              <textarea class="textarea" placeholder="Summary" name="summary"></textarea>
            </div>
          </div>
    <!-- host name  -->
    <div class="field">
        <label class="label">Host</label>
        <div class="control">
          <input class="input" type="text" placeholder="Host" name="host">
        </div>
      </div>
    <!-- Start Date  -->
    <div class="field">
        <label class="label">Start Date</label>
        <div class="control">
          <input class="input" type="date" placeholder="Start Date" name="start_date">
        </div>
      </div>  
    <!-- End Date  -->
    <div class="field">
        <label class="label">End Date</label>
        <div class="control">
          <input class="input" type="date" placeholder="End Date" name="end_date">
        </div>
      </div>     
    <!-- category  -->
    <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <input class="input" type="text" placeholder="Add categories with space seperated" name="category">
        </div>
      </div>
    <!-- location  -->
          <div class="field">
            <label class="label">Location</label>
            <div class="control">
              <input class="input" type="text" placeholder="Location" name="location">
            </div>
          </div>
    <!-- cover_image_url  -->
          <div class="field">
            <label class="label">Cover Image Url</label>
            <div class="control">
              <input class="input" type="text" placeholder="Cover Image Url" name="cover_image_url">
            </div>
          </div>
    <!-- submit  -->
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Add</button>
            </div>
            <div class="control">
              <a href="/event" class="button is-link is-light">Back to list of Events</a>
            </div>
          </div>
        </form>
      </section>
  </main>
  <footer class="container">
      <p>&copy; event management</p>
  </footer>
</body>
</html>